projects/00
projects/0[12]/*.cmp
projects/0[12]/*.out
projects/0[12]/*.tst
projects/03
projects/04
projects/05
projects/06
projects/07
projects/08
projects/09
projects/10
projects/11
projects/12
projects/13
projects/demo
tools
HardwareSimulator
